<%= form_for(@resource, :url => @resource.action_path, :as => "entry") do |f| %>
  <% if @resource.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@resource.errors.count, "error") %> prohibited this dre from being saved:</h2>

      <ul>
        <% @resource.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label "amount" %><br />
    <%= f.text_field "amount" %>
  </div>

  <div class="field">
    <%= f.label "description" %><br />
    <%= f.text_field "description" %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-maskmoney/3.0.2/jquery.maskMoney.min.js" ></script>
<script>
$(function() {
  $(".currency").maskMoney({thousands:'.', decimal:',', allowZero:true});
})

</script>
