<%= form_for(@resource, :url => @resource.action_path, :as => "dre") do |f| %>
  <% if @resource.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@resource.errors.count, "error") %> prohibited this dre from being saved:</h2>

      <ul>
        <% @resource.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

<h4>Referente a</h4>
  <%= f.select(:year, 2013..2025) %>
  <%= f.select(:month, 1..12) %>
  <br>
  <br>
  <% @resource.dre_fields.each do |attribute| %>
    <div class="field">
      <%= f.label attribute.values.first.to_sym %><br />
      <% if attribute.keys.first == "name" %>
        <%= f.text_field  attribute.keys.first.to_sym %>
      <% else %>
        <%= f.text_field  attribute.keys.first.to_sym, :class => "currency" %>
      <% end %>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<%= render("finances/shared/mask")%>

