<%= form_for(@resource, :url => dre_path) do |f| %>
  <% if @resource.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@dre.errors.count, "error") %> prohibited this dre from being saved:</h2>

      <ul>
        <% @dre.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <% @resource.attributes.each do |attribute| %>
    <div class="field">
      <%= f.label attribute.to_sym %><br />
      <%= f.text_field  attribute.to_sym %>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
