<p id="notice"><%= notice %></p>
<% @show.attributes.each do |attribute| %>
<p>
<b><%= attribute %>:</b>
  <%= @show.send(attribute) %>
</p>
<% end %>
<%= link_to 'Edit', edit_dre_path(@show.id) %> |
<%= link_to 'Back', dres_path %>
