<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @dre.name %>
</p>

<p>
  <b>Adwords:</b>
  <%= @dre.adwords %>
</p>

<p>
  <b>Facebook add:</b>
  <%= @dre.facebook_add %>
</p>


<%= link_to 'Edit', edit_dre_path(@dre) %> |
<%= link_to 'Back', dres_path %>
